[defaults]
inventory = inventories/lab/inventory.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
timeout = 30
forks = 20
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo

[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

[galaxy_server.galaxy]
url = https://galaxy.ansible.com/
